* {
    margin:0;
    padding:0;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
    background-color: black;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #555555;
    
}
h1 {
    position: relative;
    right: -35px;
}
img{
    width: 35px;
    position: absolute;
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    
}

.container {
    
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-position: center;
}
  
.quote {
    
    position:relative;
    top:15%;
    left:10%;
    width: 75%; 
    padding: 20px;
}

h2 {
    font-size: 40px;
    text-align: center;
}




